*.pyc
__pycache__/
.ruff_cache/
.venv/
run_examples/
/kessi_deletable.py
/benchmarks/slurm_runs/
/benchmarks/slurm_runs2/
/start_all_slurm_sbatch_jobs.sh
/benchmarks/#lol MTC200_MAE_simonBest/
*.p
*.pkl
*.idea
*.xml
*.iml
*.png
*.log
/MTC200_RMSE_scratch/
